.imageBannerTop img {
  position: relative;
}
.boxOpacity {
  position: absolute;
  padding: 64px 20px;
  background-color: rgba(0, 0, 0, 0.8);
}
.imageBannerTop img,
.boxOpacity {
  height: 400px;
  width: 320px;
  border-radius: 10px;
}
.textBanner {
  width: 280px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-bottom: 20px;
}
.textBanner h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 110.00000000000001%;
}
.textBanner p {
  font-weight: 500;
  font-style: Medium;
  line-height: 140%;
  margin-top: 12px;
  font-size: 14px;
}

@media screen and (min-width: 500px) {
  .imageBannerTop img,
  .boxOpacity {
    width: 1200px;
  }
  .boxOpacity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 82px 140px 64px 140px;
  }
  .textBanner {
    width: 920px;
  }
  .textBanner h1 {
    font-weight: 700;
    font-size: 48px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .textBanner p {
    font-weight: 500;
    font-size: 16px;
  }
}
