.forgotThePass {
  text-align: right;
}
.forgotPassword {
  text-align: right;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.2px;
  margin-top: 10px;
  color: rgba(51, 51, 51, 0.68);
  cursor: pointer;
}
