.header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
  padding: 16px 24px;
  border-top: 1px solid rgba(241, 241, 241, 1);
  border-bottom: 1px solid rgba(241, 241, 241, 1);
  box-shadow: 4px 8px 12px rgba(62, 67, 74, 0.15);
}

.logo {
  width: 152px;
}

.boxRight {
  display: flex;
  align-items: center;
  gap: 15px;
}

.order {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: rgba(51, 51, 51, 0.68);
  cursor: pointer;
}

.order:hover {
  padding-bottom: 5px;
  border-bottom: 3px solid rgba(246, 73, 32, 1);
  color: rgba(246, 73, 32, 1);
}

.profileIcon {
  height: 24px;
}

@media screen and (min-width: 500px) {
  .header {
    width: 100%;
    padding: 12px 120px;
  }

  .boxRight {
    gap: 25px;
  }

  .profileIcon {
    height: 27px;
  }
}
