.header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
  padding: 16px 24px;
  border-top: 1px solid rgba(241, 241, 241, 1);
  border-bottom: 1px solid rgba(241, 241, 241, 1);
  box-shadow: 4px 8px 12px rgba(62, 67, 74, 0.15);
}

.logo {
  width: 152px;
}

.hamburgerIcon {
  width: 24px;
}

@media screen and (min-width: 500px) {
  .header {
    width: 100%;
    padding: 12px 120px;
  }
}
