@import url(../index.css);

/* main */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 2570px;
  padding: 28px 20px;
  gap: 10px;
}

/* section box card */
.box-card {
  width: 320px;
  height: 1683px;
}

/* section footer */
footer {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 424px;
  padding: 20px;
  gap: 16px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(58, 53, 65, 0.12);
}
footer * {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.footer-decs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  margin-bottom: 20px;
}
.desc-1 {
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: 8px;
  font-size: 14px;
}
.desc-1 img {
  width: 170px;
  margin-bottom: 8px;
}
.desc-1 h3 {
  font-weight: 700;
}
.desc-1 p {
  font-weight: 400;
}
.desc-1,
.desc-2 a {
  color: rgba(34, 35, 37, 1);
}
.desc-2 {
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: 12px;
}
.desc-2 .product {
  display: flex;
  justify-content: space-between;
}
.kategori {
  display: none;
}
.desc-2 .product a {
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}
.line-bottom {
  display: flex;
  justify-content: center;
}
.line-bottom img {
  width: 318px;
}
.sosmed {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 15px;
}
.sosmed-item {
  display: flex;
  gap: 15px;
}
.sosmed p {
  font-weight: 500;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.68);
}
@media screen and (min-width: 500px) {
  .main {
    padding: 64px 120px;
    width: 100%;
    gap: 64px;
  }

  .box-card {
    width: 1200px;
    height: 1525px;
  }

  .box-master-card {
    display: flex;
    flex-wrap: wrap;
  }

  footer {
    display: flex;
    width: 100%;
    height: 427px;
    padding: 60px;
  }
  .footer-box {
    width: 1200px;
  }
  .footer-decs {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    gap: 460px;
  }
  .desc-1 {
    display: flex;
  }
  .desc-1 img {
    width: 204px;
  }
  .desc-2 {
    flex-direction: row;
  }
  .product {
    display: flex;
    flex-direction: column;
  }
  .product img {
    display: none;
  }
  .product .kategori {
    display: block;
    width: 150px;
  }
  .product .kategori a {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: rgba(51, 51, 51, 0.68);
    margin: 10px 0px;
  }
  .kategori .blog-hidden {
    visibility: hidden;
  }
  .line-bottom img {
    width: 1200px;
    height: 2px;
  }
  .sosmed {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 30px;
  }
}
