label {
  font-size: 14px;
  letter-spacing: 0.2px;
  color: rgba(51, 51, 51, 0.68);
}

.star {
  color: red;
  margin: 2px;
}

@media screen and (min-width: 500px) {
  label {
    font-weight: 400;
    font-size: 16px;
  }
}
