select {
  width: 280px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid rgba(241, 241, 241, 1);
  margin: 4px 0px 15px 0px;
  padding: 10px;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: rgba(51, 51, 51, 1);
  appearance: none;
  background-image: url(../assets/ikon-panah.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
}

option {
  color: rgba(51, 51, 51, 1);
}

.phoneNumber {
  width: 78px;
  margin-left: 50px;
}

@media screen and (min-width: 500px) {
  .phoneNumber {
    height: 48px;
  }
}
