.tabs {
  width: 700px;
  height: 50px;
  overflow: hidden;
  margin: 15px 0px 17px 0px;
}
.tabs ul {
  list-style-type: none;
  text-align: left;
}
.tabs li {
  display: inline-block;
  width: 122px;
}
.tabs a {
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: rgba(51, 51, 51, 0.68);
}

.tabs a:hover {
  border-bottom: 3px solid rgba(246, 73, 32, 1);
  color: rgba(246, 73, 32, 1);
}

@media screen and (min-width: 500px) {
  .tabs a {
    font-size: 16px;
  }
  .tabs {
    width: 100%;
    margin-top: 50px;
  }
  .tabs li {
    width: fit-content;
    margin-right: 40px;
  }
}
