.title h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: rgba(34, 35, 37, 1);
}
.title p {
  font-weight: 500;
  margin-top: 10px;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: rgba(51, 51, 51, 0.68);
}

@media screen and (min-width: 500px) {
  .title h2 {
    font-size: 32px;
    font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  }
  .title p {
    font-size: 16px;
  }
}
