.titleLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleLogin h1 {
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: rgba(34, 35, 37, 1);
}

.titleLogin p {
  font-weight: 500;
  margin-top: 10px;
  color: rgba(51, 51, 51, 0.68);
  letter-spacing: 0.2px;
}

.subtitle {
  font-size: 14px;
  color: rgba(51, 51, 51, 0.68);
  letter-spacing: 0.2px;
}

@media screen and (min-width: 500px) {
  .titleLogin h1 {
    font-size: 32px;
  }
  .titleLogin p {
    font-weight: 500;
    font-size: 16px;
  }
}
